<div>
    <p class="post-detail">
        <span class="strong">Date</span><span class="post-detail">: {{format_date datetime_stamp}}</span>
    </p>
     <p class="post-detail">
        <span class="strong">Posted by</span>: {{user.username}}
     </p>
    <br>
    <h1 class="post-title">{{post_title}}</h1>
    <p class="post-detail">{{post_text}}</p>
    {{#if comments.length}}
    <div>
    <hr>
    <br>
    {{#each comments as |comment|}}
        <p class="comments">
            <span class="strong">{{comment.user.username}}</span>:&nbsp;<span class="post-detail">{{comment.comment}}</span>
            <span class="comment-date ">&nbsp;({{format_shortdate comment.datetime_stamp}}, {{format_time comment.datetime_stamp}})</span>
        </p>
    {{/each}}
    </div>
    {{/if}}
</div>