<div class="dashboard">
<h1 class="dashboard-header">Dashboard</h1>
<h1 class="dashboard-header">Hello {{userName}} 👋</h1>

<div>
  <a href="/dashboard/createpost">
  <button id="create-post">Create new post</button>
  </a>
</div>
<br>
<br>
<div>
    <h1>Your current posts:</h1>
    <p>Posts with comments cannot be edited.</p>
    <br>
    </div>
    {{#if posts.length}}
    {{#each posts as |post|}}
        {{> post-data post}}
        {{#if post.comments.length}}
        <a href="/dashboard/delete/{{post.id}}"><button>Delete this post</button></a>
        {{else}}
        <a href="/dashboard/edit/{{post.id}}"><button>Edit this post</button></a>
        {{/if}}
            
    {{/each}}

{{else}}
<h6>Stop slacking and post something today! :)</h6>
</div>
{{/if}}